.menu-vertical {
    position: fixed;
    top: 0;
    left: 0;
  }
  <style>
    /* Reset de estilos padrão */
    nav ul, nav li, nav a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    /* Estilos do menu de navegação */
    nav ul {
        background-color: #f2f2f2;
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    nav li {
        margin: 0 10px;
    }

    nav a {
        color: #333;
        font-size: 16px;
        font-weight: bold;
    }

    nav a:hover {
        color: #ff0000;
    }
</style>
<style>
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
}
